@media (prefers-color-scheme: dark) {

  .dark-theme {
    color: #FFF;
    background: #000;
  }

  .darkmode--social {
    &:hover{
      color: #F1F1F1 !important;
    }
  }

  .darkmode--footer {
    background-color: white;
    color: black;
  }

  .darkmode--btn {
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.1);

    &:hover{
      background: #F1F1F1;
    }
  }

  .darkmode--nav {
    &:hover{
      color: #F1F1F1 !important;
    }
  }
}

body.dark-theme {
  color: #FFF;
  background: #000;
}

.darkmode--footer {
  background-color: white;
  color: black;
}

.darkmode--btn {
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.1);

  &:hover{
    background: #F1F1F1;
  }
}

.darkmode--social {
  &:hover{
    color: #F1F1F1 !important;
  }
}

.darkmode--nav {
  &:hover{
    color: #F1F1F1 !important;
  }
}