---
layout: default
path: home
---
<section class="welcome">
    <div>
        <h2>Hey!</h2>
        <h1>I'm <span class="name underline" id="name"> Kurtis. </span></h1>
        <p>A keyboard nerd with a keen interest in web technologies.</p>

        <a class="btn" id="btn" href="mailto:hello@kurtisthrasher.co.uk">Lets talk!</a>
    </div>
</section>

<section class="about-me" id="about">
    <div>
        <h3>About me</h3>
        {% if introduction.paragraphs %}
            {% for paragraph in introduction.paragraphs %}
                <p class="paragraph-{{ paragraph.display_order }}">
                    {{ paragraph.text }}
                </p>
            {% endfor %}
        {% endif %}
        {% if stack.languages %}
            <p>The current stack I'm using:</p>
            <ul>
                {% for language in stack.languages %}
                    <li>
                        {{ language.text }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>

<section class="work" id="work">

    <div class="work-para">
        <h3>What have I been up to? </h3>

        {% for work in collections.work | sort(attribute='data.published') | reverse %}
        <div class="work-para-one">
            <h4>{{ work.data.title }} - {{ work.data.company }}</h4>
            <p class="date">{{ work.data.published | readableDate }}
                {% if work.data.updated %}
                    - {{ work.data.updated | readableDate }}</p>
                {% else %}
                    - Present
                {% endif%}
            <p>
                {% excerpt work %}
            </p>
        </div>
        {% endfor %}
    </div>
</section>

<section class="projects" id="projects">
    <div class="project-work">
        <h3>Projects</h3>
        <div class="project-container">

            {% for project in collections.project %}
            <div class="project-info">
                    <div class="project-header">
                        <div class="icons">
                            <a style="visibility: {{ project.data.display_link }} " href="{{ project.data.link }}" target="_blank"><i
                                        class="{{ project.data.link_icon }}"></i></a>
                        </div>

                        <i class="{{ project.data.icon }}"></i>
                        <h4>{{ project.data.title }}</h4>
                        <p>
                            {% excerpt project %}
                        </p>
                    </div>

                <div class="project-footer">
                    <p>{{ project.data.language }}</p>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>

<section class="contact-me" id="contact">

    <div class="contact-container">
        <h3>Contact me</h3>
        <div class="contact-content">
            <p>Although I’m not currently looking for any freelance opportunities, my inbox is always open.
                So definitely say hi!
                &hellip; Also follow me on my socials.
            </p>
            <div class="socials">

                <a href="https://github.com/kthrasher1" target="_blank">
                    <div>
                        <i class="fab fa-github social"></i>
                    </div>
                </a>

                <a href="https://codepen.io/Kthrasher" target="_blank">
                    <div>
                        <i class="fab fa-codepen social"></i>
                    </div>
                </a>

                <a href="https://twitter.com/Kurtis_Thrasher" target="_blank">
                    <div>
                        <i class="fab fa-twitter social"></i>
                    </div>
                </a>

                <a href="https://www.linkedin.com/in/kurtis-thrasher-928b53b1/" target="_blank">
                    <div>
                        <i class="fab fa-linkedin-in social"></i>
                    </div>
                </a>



            </div>
            <a class="btn" href="mailto:hello@kurtisthrasher.co.uk" id="btn">Lets talk.</a>

        </div>
    </div>

</section>