---
layout: default
path: home
---
<section class="welcome">
    <div>
        <h2>Hello,</h2>
        <h1>I'm <span class="name underline" id="name"> Kurtis. </span></h1>
        <p>A graduate computer scientist with a keen interest
            in web technologies.</p>

        <a class="btn" id="btn" href="mailto:hello@kurtisthrasher.co.uk">Lets talk.</a>
    </div>
</section>

<section class="about-me" id="about">
    <div>
        <h3>About me</h3>

        <p class="paragraph-one">
            Hey there! I'm Kurtis, a computer science graduate fresh out of The University Of Hull.

            Currently living in Hull (you can often find me in the Makerspace). I develop
            amazing websites and cutting-edge web applications... I'm also a massive keyboard nerd.

        </p>

        <p class="paragraph-two">While at university, I interned at a Shopify Plus agency, Strawberry. While there I
            worked with countless high-end clientele such as BarryM Cosmetics, Lil Packaging and Rio Health.</p>

        <p class="paragraph-three">The current stack I'm using:</p>

        <ul>
            <li>PHP</li>
            <li>HTML</li>
            <li>(S)CSS</li>
            <li>JavaScript</li>
            <li>Laravel</li>
            <li>Vue.js</li>
        </ul>

    </div>

</section>

<section class="work" id="work">

    <div class="work-para">

        <h3>What have I been up to? </h3>
        {% for work in collections.work %}
        <div class="work-para-one">
            <h4>{{ work.data.title }} - {{ work.data.company }}</h4>
            <p class="date">{{ work.data.published | readableDate }} - {{ work.data.updated | readableDate }}</p>
            <p>
                {% excerpt work %}
            </p>
        </div>
        {% endfor %}
    </div>
</section>

<section class="projects" id="projects">
    <div class="project-work">
        <h3>Projects</h3>
        <div class="project-container">

            {% for project in collections.project %}
            <div class="project-info">
                    <div class="project-header">
                        <div class="icons">
                            <a style="visibility: {{ project.data.display_link }} " href="{{ project.data.link }}" target="_blank"><i
                                        class="{{ project.data.link_icon }}"></i></a>
                        </div>

                        <i class="{{ project.data.icon }}"></i>
                        <h4>{{ project.data.title }}</h4>
                        <p>
                            {% excerpt project %}
                        </p>
                    </div>

                <div class="project-footer">
                    <p>{{ project.data.language }}</p>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>

<section class="contact-me" id="contact">

    <div class="contact-container">
        <h3>Contact me</h3>
        <div class="contact-content">
            <p>Although I’m not currently looking for any freelance opportunities, my inbox is always open.
                So definitely say hi!
                &hellip; Also follow me on my socials.
            </p>
            <div class="socials">

                <a href="https://github.com/kthrasher1" target="_blank">
                    <div>
                        <i class="fab fa-github social"></i>
                    </div>
                </a>

                <a href="https://codepen.io/Kthrasher" target="_blank">
                    <div>
                        <i class="fab fa-codepen social"></i>
                    </div>
                </a>

                <a href="https://twitter.com/Kurtis_Thrasher" target="_blank">
                    <div>
                        <i class="fab fa-twitter social"></i>
                    </div>
                </a>

                <a href="https://www.linkedin.com/in/kurtis-thrasher-928b53b1/" target="_blank">
                    <div>
                        <i class="fab fa-linkedin-in social"></i>
                    </div>
                </a>



            </div>
            <a class="btn" href="mailto:hello@kurtisthrasher.co.uk" id="btn">Lets talk.</a>

        </div>
    </div>

</section>