<footer class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full py-4" id="footer">
    <div>
        <p>Designed and build by {{settings.author}}</p>
        <p>🏳️‍🌈</p>
    </div>
</footer>
